@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #f7e7de;
  --foreground: #617536;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7e7de;
    --foreground: #617536;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Chicle', Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
